[submodule "RoomMe"]
	path = RoomMe
	url = https://github.com/sethpotter/RoomMe.git
[submodule "DB-GUI-F21"]
	path = DB-GUI-F21
	url = https://github.com/sethpotter/DB-GUI-F21.git
[submodule "CS2240-Assembly"]
	path = CS2240-Assembly
	url = https://github.com/sethpotter/CS2240.git
[submodule "FillTheWalls-CS2341"]
	path = FillTheWalls-CS2341
	url = https://github.com/sethpotter/FillTheWalls
[submodule "SearchEngine-CS2341"]
	path = SearchEngine-CS2341
	url = https://github.com/sethpotter/SearchEngine-CS2341
[submodule "AutoIndexer-CS2341"]
	path = AutoIndexer-CS2341
	url = https://github.com/sethpotter/AutoIndexer-CS2341.git
[submodule "SortAnalysis-CS2341"]
	path = SortAnalysis-CS2341
	url = https://github.com/sethpotter/SortAnalysis-CS2341
